.yonify-playlists {
    margin-bottom: rem(16px);
    display: flex;
    flex-direction: column;
    .upper-btns {
        justify-content: space-between;
        margin-bottom: rem(16px);
        height: rem(31.2px);
        .left-btn {
            color:$mainnavwhiteclr;
            font-weight: 700;
            font-size: 1.5rem;
            & :hover {
                text-decoration: underline;
            }

        }
        .right-btn {
            font-size: 0.75rem;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin-left: rem(8px);
            color:$navgreyclr;
            font-weight: 700;
            align-self: center;
            & :hover {
                text-decoration: underline;
            }
        }
    }
    .songs {
        display: grid;
    }

}