.YonifyPlaylistsPreview {
    background-color:#181818 ;
    padding: rem(16px);
    max-height: rem(320px);
    // max-width: 230px;
    // min-width: 124px;
    .song-img {
        margin-bottom: rem(16px);
        max-width: 100%;
    }
    .below-img {
        min-height: rem(62px);
        & h1 {
            color: #fff;
            font-weight: 700;
            font-size: rem(16px);
            padding-bottom: rem(4px);
        }
        & p {
            font-size: rem(14px);
            font-weight: 400;
            color:#a7a7a7 ;
        }
    }
}